.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.div_menu {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.menu {
  margin: auto;
  padding-top: 15px;
  min-height: 50px;
  background-color: black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.items {
  align-items: center;
  display: inline-block;
  list-style: none;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
}

.items li {
  border-radius: 20px;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
}

.link {
  padding: 7px 13px;
  display: block;
  text-decoration: none;
  color: rgb(128, 128, 128);
  text-transform: uppercase;
}

.items li:hover {
  background-color: rgba(255, 255, 255, 0.253);
}

.div_body {
  margin-top: 105px;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
}

@media screen and (max-width: 640.8px) {
  .div_body {
    margin-top: 140px;
  }
  .menu {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 384px) {
  .div_body {
    margin-top: 175px;
  }
}

@media screen and (max-width: 256.8px) {
  .div_body {
    margin-top: 210px;
  }
}

@media screen and (max-width: 226.4px) {
  .div_body {
    margin-top: 245px;
  }
}

.div_index{
  text-align: center;
}

.video_index video{
  margin: auto;
  display: block;
}